whatdadogdoin.iml
.idea/
out/
src/main/java/resources/data.txt
src/main/java/resources/postgresql-42.3.3.jar
src/main/java/resources/test
src/main/java/resources/thelayout.txt
src/main/resources/db.properties
src/main/java/resources/testcode